// colors variables
$main-color: #06DAB0;
// $second-color: #05B0D8;
$main-dark-color: #181C1A;
// $text-color: #9D9D9D;
$border-color: #c2c2c2;
$main-light-color: #CBEEF3;
// states
$success: #249F4F;
$failure: #DC4936;

// global variables 
$border-radius: 8px;
$border: 1px solid $border-color;
$box-shadow: 0 8px 35px rgba($color: $main-color, $alpha: 0.1); 