.o-pattern {
  width: 100vw;
  height: 100vh;
  background-image: url('../../icons/pattern.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}