h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
} 

h1 {
  font-size: 6rem;
  font-weight: 200;
  color: $main-color;
  text-align: center;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8rem;
}

.e-card-title {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.e-main-title {
  @extend .e-card-title;
  font-size: 2.4rem;
  color: $main-color;
}

.e-heading--no-spacing {
  letter-spacing: unset;
}